modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 18911
externalPort = 3000

[userenv]

[userenv.shared]
MYSQL_HOST = "190.102.43.61"
MYSQL_PORT = "3306"
MYSQL_USER = "website"
MYSQL_DATABASE = "website"
SMTP_HOST = "smtp.gmail.com"
SMTP_PORT = "587"
SMTP_USER = "aura2brasil@gmail.com"
DISCORD_CLIENT_ID = "1509465912214297653"
DISCORD_GUILD_ID = "1509458056520663180"
DISCORD_WELCOME_CHANNEL_ID = "1509463821893238905"
DISCORD_NOVOS_MEMBROS_CHANNEL_ID = "1509464827935064215"
DISCORD_DOADORES_CHANNEL_ID = "1509464871476133888"
DISCORD_TICKET_PANEL_CHANNEL_ID = "1509459353298800740"

[nix]
channel = "stable-25_05"
